@using TPBApi.Classes;
@using TPBApi.Helpers;
@{
    Layout = null;
    DownloaderTorrent downloadStatus = new DownloaderTorrent();
}
<div>
    @if(downloadStatus.getDownloads().Count() != 0)
    {
        @foreach (var download in downloadStatus.getDownloads())
            {
            var downloadDec = string.Format("{0:0.00}", download.Progress);
            var downloadInt = string.Format("{0:0}", download.Progress);

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@download.Name</h5>
                        
                        @if(download.Exception != null)
                        {
                        <p class="card-text">Erro: @download.Exception.ToString() Causa: @download.Reason.ToString() </p>
                        }
                        else
                        {
                        var downloadSpeed = download.DownloadSpeed != 0 ? "Speed: " + Helpers.ConvertFileSize(int.Parse(download.DownloadSpeed.ToString())) : "";
                        <p>
                            Peers: @download.Peers  Estado : @download.State                            
                        </p>
                        <p>
                            @downloadSpeed
                        </p>
                        <p class="card-text">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @downloadInt%;" aria-valuenow="@downloadInt" aria-valuemin="0" aria-valuemax="100">@downloadDec%</div>                           
                            </div>
                            
                        </p>
                        }
                    @if (download.State != "Paused" && download.State != "Stopped" && download.State != "Stopping" && download.State != "Metadata")
                    {
                        <button onclick="pauseDownload(@download.Index)" class='btn btn-primary' type='submit'>Pausar</button>
                        <button onclick="pararDownload(@download.Index)" class='btn btn-primary' type='submit'>Parar</button>
                    }
                    else if (download.State != "Stopped" && download.State != "Metadata")
                    {
                        <button onclick="retomarDownload(@download.Index)" class='btn btn-primary' type='submit'>Retomar</button>
                        <button onclick="pararDownload(@download.Index)" class='btn btn-primary' type='submit'>Parar</button>
                    }
                    else if (download.State == "Stopped" )
                    {
                        <button onclick="retomarDownload(@download.Index)" class='btn btn-primary' type='submit'>Retomar</button>
                    }
                    else if (download.State == "Metadata")
                    {
                        <button onclick="pararDownload(@download.Index)" class='btn btn-primary' type='submit'>Parar</button>
                    }

                    
                    </div>
                </div>
        }
    }
    else
    {
        <p class="noDownloads">Não há downloads ativos neste momento.</p>
    }
    
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        
    }
    <script>

    </script>
}
